@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .b-radius {
      border-radius: 4rem;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
    .nav {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      background-color: white;
      transition-timing-function: ease-in;
      transition: all 0.5s;
      font-family: sans-serif;
    }
    .text-c {
      color: #0f1111;
      font-family: "Amazon Ember", Arial, sans-serif;
    }
    .text-font {
      font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica Neue, Arial, sans-serif;
    }

    .mx-wd {
      width: 95%;
    }
    .mt {
      margin-top: -150px;
    }

    .mx-wd2 {
      width: 80%;
    }
    .mx-wd3 {
      width: 70%;
    }

    .font-s {
      font-size: 12px;
    }

    .home__image {
      width: 100%;
      z-index: 0;
      margin-bottom: -150px;
      /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0.4)); */
    }
  }
}

.textSm{
  font-size: 10px;
  font-weight: bold;
}

.min-h{
  min-height: 55vh;
}
.slider {
  /* position: relative; */
  height: 80vh;
  /* margin-top: -62px !important; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100vw;
  height: 400px;
}

.img-s {
  max-height: 250px;
}

.right-arrow {
  position: absolute;
  /* top: 50%; */
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 0;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  /* top: 50%; */
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 0;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  /* transform: scale(1.08); */
}
